
# Cache directories
# Ignore data files
# Ignore output directories
# System files
*.csv
*.ndax
*.pyc
*.pyo
*.tmp
*.xlsx
.DS_Store
.diskcache/
Graphs/
Thumbs.db
__pycache__/
cache/
library/catalog.json
library/ndax/
